// Rename this file as ".env" 

GHOST_ACCOUNT_URL_PROD= "https://the-panther-blog.ghost.io/ghost/api/admin/members/"
GHOST_ADMIN_API_KEY_PROD=""

GOOGLE_ACCOUNT_PASSWORD = ""
GOOGLE_ACCOUNT_EMAIL="email_backup@pantherprotocol.io"